################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleAutoCorrectAI/FileContentIndex/491da335-fb10-4445-950d-1d275fc44aab.vsidx
/.vs/SimpleAutoCorrectAI/FileContentIndex/c802ff25-8cfa-4484-8f1d-a5022681259e.vsidx
/.vs/SimpleAutoCorrectAI/FileContentIndex/d84e9df0-045f-4821-93a4-320b8b6f8aa3.vsidx
/.vs/SimpleAutoCorrectAI/FileContentIndex
